body{
	background-image: url('Multimedia/bg.jpg');
	background-size: cover;
	color: #660708;
	font-family: Arial;

	display: flex;
	justify-content: center;
	align-items: stretch;

	gap: 15px;
	margin: 0;
	padding: 15px;

	min-height: 90vh;
}

/* TITULOS */
h1,h2{
	text-align: center;
	color: #660708;
}

/* HEADER */
#title{
	font-size:20px;
	background-color: rgba(245, 243, 244, 0.92);
	border: 2px solid #b1a7a6;
	border-radius: 10px;
	height: 80px;
	width: 1132px;
	box-shadow: 4px 4px rgba(0,0,0,0.08);
}

#logo{
	width:300px;
	height:80px;
	border: 2px solid #b1a7a6;
	border-radius: 10px;
	margin-bottom: 1%;
}

/* SIDEBAR */
#navegator{
	background-color: rgba(245, 243, 244, 0.5);
	border: 2px solid #b1a7a6;
	border-radius: 15px;
	width: 303px;
	box-shadow: 4px 4px rgba(0,0,0,0.08);
}

#navegacion{
	background-color: rgba(245, 243, 244, 0.03);
	order: 2;
}

/* MAIN */
#background{
	flex: 1;
	max-width: 1150px;
	width: 100%;

	min-height: calc(90vh - 30px);

	background-color: rgba(245, 243, 244, 0.58);
	border: 2px solid #b1a7a6;
	border-radius: 15px;

	overflow: hidden;

	box-shadow: 4px 4px rgba(0,0,0,0.08);

	display: flex;
	flex-direction: column;
	align-items: center;
}

/* PRODUCTOS */
#contenedor{
	position: relative;
	height: 310px;
	width: 180px;
	margin: 0 auto;
	background-color: #f5f3f4;
	padding: 10px;
	box-shadow: 5px 5px rgba(0,0,0,0.08);
	border: 2px solid #d3d3d3;
	border-radius: 15px;
	text-align:center;
	transition: 0.2s;
}

#contenedor:hover{
	transform: translateY(-3px);
	border-color: #e5383b;
}

#contenedor2{
	margin-bottom: 6%;
	opacity: 0.6;
	position: relative;
	height: 270px;
	background-color: #f5f3f4;
	padding: 10px;
	box-shadow: 5px 5px rgba(0,0,0,0.08);
	border: 2px solid #d3d3d3;
	border-radius: 30px;
	text-align:center;
}

#inventario{
	margin-top: 1%;
	background-color: #f5f3f4;
	width: 1050px;
	border-collapse: collapse;
}

#agregar{
	margin-top: 1%;
	background-color: #f5f3f4;
	width: 1050px;
	border-collapse: collapse;
}

#agregar:th, #agregar:tr, #agregar:td{
	margin-top: 1%;
	background-color: rgb(249, 221, 226);
	text-align: center;
}

#agregar:th{
	font-size: 110%;
}

#imagesize{
	width: 110px;
	height: 160px;
	border-radius: 5px;
	border: 2px solid #d3d3d3;
	box-shadow: 3px 3px rgba(0,0,0,0.08);
}

#imgInventario{
	width: 90px;
	height: 120px;

	border-radius: 5px;
	border: 2px solid #d3d3d3;

	object-fit: cover;
}

#infoBox,#infoBox2{
	color: #660708;
	text-align: left;
	padding-left: 3%;
	background-color: #f5f3f4;
	position: sticky;
	width: 180px;
	height: 105px;
	border-radius: 25px;
	margin: 0 auto;
}

table{
	margin-top: 1%;
	background-color: #f5f3f4;
	width: 900px;
	border-collapse: collapse;
}

th, tr, td{
	background-color: #f5f3f4;
	text-align: center;
	border: 1px solid #d3d3d3;
	color: #660708;
}

th{
	font-size: 110%;
	background-color: #d3d3d3;
}

#topBar,
#topBar tr,
#topBar td{
	background-color: transparent;
	border: none;
}

#busquedaInventario{
	flex: 1;

	font-family: Arial;
	font-size: 17px;

	border: 2px solid #d3d3d3;
	border-radius: 30px;

	background-color: #ffffff;
	color: #660708;

	height: 40px;
	width: 945px;
	padding-left: 12px;
}

#field{
    font-family: Arial; font-size: 15px;
    border: 2px solid #d3d3d3;; border-radius: 15px;
    background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    margin-left: 2.5%;
    width: 250px;
    text-align: center;
}

#numberField{
	font-family: Arial; font-size: 15px;
    border: 2px solid #d3d3d3;; border-radius: 15px;
    background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    margin-left: 2.5%;
    width: 80px;
    text-align: center;
}

/* BOTONES */
input[type="submit"]{
	font-size: 15px;
	border: none;
	border-radius: 15px;
	background-color: #ba181b;
	color: #f5f3f4;
	padding: 8px 14px;
	box-shadow: 3px 3px rgba(0,0,0,0.08);
	transition: 0.2s;
}

input[type="submit"]:hover{
	background-color: #e5383b;
	cursor: pointer;
	transform: scale(1.03);
}

/* CHECKBOX */
input[type="checkbox"]{
	background-color: white;
	border: 2px solid #b1a7a6;
	border-radius: 25px;
	width: 25px;
	height: 25px;
	appearance: none;
}

/* BOTONES GENERALES */
button{
	border: none;
	background-color: transparent;
	border-radius: 30px;
	margin: 0 auto;
	padding: 1px;
}

#btnProduct:hover{
	cursor: pointer;
}

/* SECCIONES */
#seccion{
	font-size: 20px;
	border: 1px solid #d3d3d3;
	border-radius: 20px;
	background-color: #f5f3f4;
	color: #660708;
	box-shadow: 3px 3px rgba(0,0,0,0.08);
	width: 260px;
	height: 50px;

	margin-bottom: 12px;
}

/* USER */
#userBtn{
	font-size: 20px;
	border: 2px solid #d3d3d3;
	border-radius: 46px;
	background-color: #f5f3f4;
	color: #660708;
	box-shadow: 3px 3px rgba(0,0,0,0.08);
	width: 280px;
	height: 100px;
	transition: 0.2s;
}

#userBtn:hover{
	cursor: pointer;
	border-color: #e5383b;
	transform: translateY(-2px);
}

/* CARRITO */
#btnCarrito{
	background-color: #ba181b;
	border: none;
	border-radius: 50px;
	box-shadow: 3px 3px rgba(0,0,0,0.08);
	font-size: 27px;
	position: absolute;
	bottom: 30px;
	left: 35px;
	color: #f5f3f4;
	padding-top: 3px;
	width: 240px;
	height: 50px;
	transition: 0.2s;
}

#btnCarrito:hover{
	background-color: #e5383b;
	transform: scale(1.03);
}

/* SCROLL */
#scroll{
	background-color: rgba(245,243,244,0.85);
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	max-height: 550px;
	overflow: auto;
	border: 2px solid #d3d3d3;
	border-radius: 15px;
	width: 1100px;
}

/* BUSQUEDA */
#busqueda{
	margin-top: 1%;
	font-family: Arial;
	font-size: 17px;
	border: 2px solid #d3d3d3;
	border-radius: 30px;
	background-color: #ffffff;
	color: #660708;
	width: 1100px;
	height: 40px;
	padding-left: 12px;
}

/* SCROLLBAR */
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background-color: #f5f3f4;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb{
	background: #b1a7a6;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
	background: #a4161a;
}

.custom-file-upload {
    font-size: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

input[type="file"] {
	display: none;
}

#formProducto{
	display: flex;

	background-color: rgba(245,243,244,0.85);

	border: 2px solid #d3d3d3;
	border-radius: 25px;



	padding: 30px;
	margin-top: 20px;

	width: 84%;

	align-items: flex-start;
}

#imgSection{
	width: 180px;
	text-align: left;
}

#vistaprevia{
	width: 150px;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
	border: 4px solid #d3d3d3;
	background-color: white;
}

#datosProducto{

	display: flex;
	flex-direction: column;
	width: 79%;

	gap: 18px;
}

.filaDoble{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
}

.filaTriple{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
}

.fieldLarge{
	width: 100%;
	height: 45px;

	border-radius: 20px;
	border: 2px solid #d3d3d3;

	padding-left: 15px;

	font-size: 16px;
}

textarea.fieldLarge{
	height: 100px;
	padding-top: 12px;
	resize: none;
	font-family: Arial;
}

.fieldSmall,
.fieldSelect{
	flex: 1;

	height: 45px;

	border-radius: 20px;
	border: 2px solid #d3d3d3;

	padding-left: 12px;

	font-size: 15px;
}

#btnAgregar{
	background-color: #ba181b;
	color: white;

	height: 50px;
	width: 180px;

	border-radius: 25px;

	font-size: 18px;

	margin-top: 10px;

	transition: 0.2s;
}

#btnAgregar:hover{
	background-color: #e5383b;
	transform: translateY(-2px);
	cursor: pointer;
}
